* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    margin: 0;
    background-color: #ffffff;
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
    line-height: 3.2rem;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 2% 0;
}

h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.4rem;
    color: #000000;
    margin: 0;
}

.header {
    width: 88%;
    padding: 3% 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
}

.menuLogo {
    display: flex;
    flex-direction: row;
    flex-grow: 5;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-grow: 8;
    justify-content: space-between;
    align-items: center;
}

.footerMenu {
    width: 88%;
    padding: 3% 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a.menuItem {
    display: flex;
    font-family: 'Rubik', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    text-decoration: none;
    color: #000000;
}

a.menuItem:hover {
    color: #919191;
}

button.menuItem {
    background-color: #ffffff;
    border: none;
}

button.menuItem:focus {
    outline: none;
}

.storeButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.storebutton {
    display: flex;
    height: auto;
    margin-right: .2rem;
}

.columnPhone {
    flex-basis: 200px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2% 0 2%;
    background-color: #ffffff;
}

video.heroVid {
    max-width: 100%;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.sectionComponentLeft {
    width: 92%;
    padding: 4%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero {
    margin: 5% 0 0 0;
}

.sectionStaking {
    width: 92%;
    padding: 6% 4%;
    margin: 4% 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(/img/staking.jpg);
    background-size: cover;
    background-color: #000000;
}

.sectionWhitelabel {
    width: 92%;
    padding: 6% 4%;
    margin: 4% 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(/img/whitelabel2.jpg);
    background-size: cover;
    background-color: #000000;
}

.sectionLogos {
    display: block;
    width: 90%;
    padding: 5%;
}

.sectionVision {
    width: 90%;
    padding: 5%;
}

.sectionLogosMobile {
    display: none;
}

.sectionComponentRight {
    width: 92%;
    padding: 4%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.columnText {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.singleColumnText {
    max-width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5% 0;
}

.leftContentText {
    width: 90%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.rightContentText {
    width: 90%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.centerContentText {
    width: 90%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
}

.sectionPicture {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.supportPicture {
    width: 90%;
    padding: 0 5%;
}

.sectionTitle {
    margin: 0;
}

.sectionSub {
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-weight: 300;
}

.mobile {
    display: none!important;
}

.desktop {
    display: block!important;
}

.newsletter {
    width: 88%;
    padding: 3% 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.newsletterForm {
    display: flex;
    flex-direction: column;
    flex-grow: 5;
    flex-wrap: wrap;
}

.newsletterField {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.newsletterInput {
    display: flex;
    flex-grow: 6;
    min-height: 42px;
    border-radius: 2px;
    border: solid 1px #cccccc;
    font-family: 'Rubik', sans-serif;
    font-size: 0.8rem;
    padding: 0 0 0 12px;
}

.mainButton {
    display: flex;
    flex-grow: 1;
    min-height: 42px;
    border-radius: 2px;
    border: none;
    margin: 0 2%;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

button.mainButton:hover {
    background-color: #383838;
}

.mainButton span {
    width: 100%;
    text-align: center;
}

.social {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    justify-content: space-between;
    align-items: center;
}

.MediumPostsContainer {
    width: 88%;
    padding: 3% 6%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.medium-widget-article__title {
    display: inline-block;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem !important;
    font-weight: 700;
    color: #000000;
    border: none;
    text-decoration: none;
}

.medium-widget-article__description {
    color: #000000;
    margin-top: 5px;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem !important;
    line-height: 1.3em;
}

input.newsletterButton {
    color: #ffffff;
    background-color: #000000;
    background: #000000;
    border: none;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

.loader {
    display: none!important;
}

.sectionComponentTeamMember {
    width: 92%;
    padding: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.memberInfo {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0;
}

.memberPicture {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio {
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-weight: 300;
    margin: 0;
}

.name {
    margin: 0;
}

/* Mobile Menu */

@media (max-width: 800px) {

    h1 {
        font-size: 2.4rem;
        line-height: 2.4rem;
    }

    .mobile {
        display: block!important;
    }
    .desktop {
        display: none!important;
    }
    .menu {
        justify-content: flex-end;
    }
    img.supportPicture {
        height: auto;
        max-width: 100%;
        padding-top: 5%;
    }
    video.supportPicture {
        height: auto;
        max-width: 100%;
        padding-top: 5%;
        border: none;
    }
    .rightContentText {
        align-items: center;
        padding: 2% 5% 0 5%;
    }
    .leftContentText {
        align-items: center;
        padding: 2% 5% 0 5%;
    }
    .singleColumnText {
        max-width: 90%;
    }
    .sectionComponentRight {
        display: flex;
        flex-direction: column-reverse;
        padding: 6% 4%;
    }
    .sectionComponentLeft {
        display: flex;
        flex-direction: column;
        padding: 6% 4%;
    }
    .sectionLogosMobile {
        display: block;
        width: 90%;
        padding: 5%;
    }

    .sectionLogos {
        display: none;
    }


    .MediumPostsTitle {
        font-size: 1.5rem;
        margin: 10% 0 5% 0;
    }
    .medium-widget-article__row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column !important;
    }
    .social {
        padding: 4% 0 0 0;
    }
    input.newsletterButton {
        color: #ffffff;
        background-color: #000000!important;
        background: #000000!important;
        background: -webkit-gradient(linear, center top, center bottom, from(#000000), to(#000000));
        background: -webkit-linear-gradient(#000000, #000000);
        background: -moz-linear-gradient(#000000, #000000);
        background: -o-linear-gradient(#000000, #000000);
        background: -ms-linear-gradient(#000000, #000000);
        background: linear-gradient(#000000, #000000);
    }

    .newsletterForm {
        text-align: center;
    }
}